@font-face {
  font-family: "Prata";
  src: url("./fonts/Prata-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: Arial, Helvetica, sans-serif;

  color: #FFFFFF;
}


/* start page */

.startPage {

  display: flex;
  justify-content: space-between;

  background-color: #222222;
  
}

.startPage__header {
  position: sticky;
  top: 0;

  display: flex;
  
  background-color: #222222;
}

.startPage__header li {
  font-style: italic;
  display: inline;
}

/* .startPage__banner {
  

} */


/* info page */

.infoPage {
  display: flex;

  background-color: #282829;
}

/* form page */

.formPage {
  margin: auto;
  
  background-color: #282829;
}


/* Footer */

.footer {
  display: flex;
  justify-content: space-evenly;

  background-color: #222222;
}

.footer__socNetsList li {
  display: inline;
}

/* Common */

.orderButton {
  color: #222222;
  background-color: #FFFFFF;
  text-transform: uppercase;
}

.orderButton::before {
  content: "Order";
}

.logo {
  text-transform: uppercase;
  font-family: Prata;
}


/* Properties */

.--font-Prata {
  font-family: Prata;
}

.--fullWidth {
  width: 100%;
}